.header{
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.search{
  cursor: pointer;
}
.allposts{
  cursor: pointer;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  flex-wrap: wrap;
}
.itemContainer{
  padding: 1rem;
  width: 30%;
  max-height: 40%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(var(--translate-y,0));
  transition: 1s;
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.expand{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.itemHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.itemHeader h3{
  font-weight: 300;
}
.itemContainer:hover{
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  --translate-y: -5px;
}

@media screen and (max-width:960px){
  .itemContainer{
    width: 45%;
  }
}
@media screen and (max-width:690px){
  .itemContainer{
    width: 90%;
  }
}
@media screen and (max-width:440px){
  .itemContainer{
    width: 100%;
  }
}