.nav_bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 14vh;
  width: 100%;
  border-bottom: 1px solid rgb(218, 213, 213);
  padding: 0 0.5rem;
}
.links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.links a {
  transition: 0.6s;
  margin-top: 3rem;
  font-weight: 300;
}
.links a:hover {
  color: rgb(39, 49, 177);
}
.nav_bar a {
  margin-left: 0.5rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.nav_bar .logo {
  height: 100%;
  cursor: pointer;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100%;
}
.text h1 {
  text-transform: uppercase;
  margin-top: 2rem;
  color: rgb(96, 99, 98);
  margin-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 300;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  width: 100%;
}
.hamburgerContainer {
  display: none;
}
.hamburger {
  display: none;
}
.cart {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.respnav {
  visibility: hidden;
  transition: 1s;
}
.hidden {
  display: none;
  visibility: hidden;
  transition: 1s;
}
@media screen and (min-width: 1300px) {
  .nav_bar {
    height: 10vh;
  }
}
@media screen and (max-width: 888px) {
  .nav_bar {
    height: 15vh;
  }
}
@media screen and (max-width: 806px) {
  .nav_bar {
    height: 8vh;
  }
  .links a {
    display: none;
  }
  .links .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .text h1 {
    font-size: 25px;
    width: 100%;
    margin-top: -0.5rem;
    text-align: center;
  }
  .nav_bar .logo {
    display: none;
  }
  .hamburgerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .line {
    width: 20px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }
  .hidden {
    padding: 0.5rem;
    justify-content: space-around;
    position: absolute;
    top: -20%;
    height: 200px;
    display: flex;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    width: 200px;
    opacity: 0;
    background-color: rgb(46, 46, 46);
  }
  .respnav {
    padding: 0.5rem;
    justify-content: space-around;
    visibility: visible;
    position: absolute;
    top: 16%;
    z-index: 999;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: rgb(46, 46, 46);
    color: white;
  }
  .respnav a {
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    text-align: center;
    font-weight: 300;
    color: white;
  }
  .hidden a {
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    text-align: center;
    font-weight: 300;
    color: white;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .text h1 {
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 281px) {
  .text h1 {
    font-size: 11px;
  }
}
@media screen and (min-width: 1000px) {
  .nav_bar {
    height: 15vh;
  }
}
@media screen and (width: 820px) {
  .nav_bar {
    height: 8vh;
  }
}
@media screen and (min-width: 1100px) {
  .nav_bar {
    height: 13vh;
  }
}
@media screen and (min-width: 1200px) {
  .nav_bar {
    height: 13vh;
  }
}
@media screen and (min-width: 1400px) {
  .nav_bar {
    height: 12vh;
  }
}
@media screen and (min-width: 1600px) {
  .nav_bar {
    height: 10vh;
  }
}
@media screen and (min-width: 1800px) {
  .nav_bar {
    height: 10vh;
  }
}
@media screen and (min-width: 1900px) {
  .nav_bar {
    height: 9vh;
  }
}
@media screen and (min-width: 3100px) {
  .nav_bar {
    height: 4vh;
  }
}
@media screen and (min-width: 2170px) {
  .nav_bar {
    height: 7vh;
  }
}
