.container {
  width: 100vw;
  padding: 0.5rem;
  display: flex;
 
}
.form{width: 50%;}
.imageSection {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}
.infoSection .title{
    font-weight:300;
}
.image {
  margin-right: 0.5rem;
  transition: 0.8s;
}
.image:hover {
  transform: scale(1.5) translate(80px, 0px);
  z-index: 999;
}
.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100vh;
  padding: 1rem;
  
}
.infoSection h1 {
  text-align: center;
}
.infoSection .prices label{
 margin-left: 0.5rem;
}
.infoSection .extraOptions label{
 margin-left: 0.5rem;
}
